body.dark {
  background-color: var(--color-dark-bg);
  color: var(--color-dark-text);
}

body.dark hr {
  background: var(--color-dark-accent);
}

body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  color: var(--color-dark-heading);
}

body.dark h1 {
  color: var(--color-dark-heading-black);
}

body.dark blockquote {
  color: var(--color-dark-text-light);
  border-left-color: var(--color-dark-primary);
}

body.dark table thead tr th {
  border-bottom-color: var(--color-dark-accent);
}

/* Link */

body.dark a {
  color: var(--color-dark-primary);
}

body.dark a:hover,
body.dark a:focus {
  color: var(--color-dark-text-hover);
}

/* Custom classes */

body.dark .post-list-item h2 {
  color: var(--color-dark-primary);
}

body.dark .blog-post-tag li {
  color: var(--color-dark-text-light);
}

body.dark .blog-post-tag li a {
  background: var(--color-tag-bg);
  color: var(--color-tag);
}

body.dark .theme label svg {
  font-size: 15px;
  line-height: var(--lineHeight-tight);
  color: var(--dark--color-dark-mode);
}
